<div class="container">
    <h1>Control de Productos y Precios</h1>
</div>

<form>

    <div class="form-group table-responsive">
        <table class="table">
            <tbody>
               <tr class="form-row">
                   <td class="col-md-2">
                <label for="nombreProducto">Producto</label>
                    </td>
                    <td class="col-md-2">
                        <input type="text" class="form-control" [(ngModel)]="productoElegido.productoNombre" placeholder="Producto" name="nombreProducto">
                    </td>
               </tr>  
               <tr class="form-row">
                <td class="col-md-2">
                    <label for="descripcionProducto">Descripcion</label>
                </td>
                <td class="col-md-4">
                    <input type="text" class="form-control" [(ngModel)]="productoElegido.descripcion" placeholder="Descripcion" name="descripcionProducto">
                </td>
               </tr>  
               <tr class="form-row">
                <td class="col-md-2">
                    <label for="precioProducto">Precio</label>
                </td>
                <td class="col-md-2">
                    <input type="number" class="form-control" [(ngModel)]="productoElegido.precio" placeholder="Producto" name="precioProducto">
                </td>
               </tr> 
            </tbody>
        </table>

        <div class="form-row form-group">
            <div class="col-md-1">
                <button class="btn btn-primary" (click)="addProducto()"  name="Agregar">Agregar</button>
            </div>
            <div class="col-md-1" *ngIf="showBoton">
                <button class="btn btn-primary" (click)="updateProducto(productoElegido)" name="Modificar"  >Modificar</button>
            </div>
            <div class="col-md-1" *ngIf="showBoton">
                <button class="btn btn-danger" name="Eliminar" (click)="deleteProducto(productoElegido)">Eliminar</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" name="Cancelar" (click)="cancelarOp()">Cancelar</button>
            </div>
        </div>

        <div class="alert alert-primary" role="alert" *ngIf="showMsjOperacion">
            {{mensajeOperacion}}
          </div>
    </div>

    <div class="form-row form-group" > 
        <div class="col-sm-4" style="padding-bottom: 10px;" name="productos" *ngFor='let p of items'>
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">{{p.payload.doc.data().productoNombre}}</h5>
                    <p class="card-text">{{p.payload.doc.data().descripcion}}</p>
                    <p class="card-text">Precio: {{p.payload.doc.data().precio | currency:'USD':'symbol':'1.2-2'}}</p>
                    <button class="btn btn-primary" (click)="selectProducto(p)">Elegir</button>
                </div>
            </div>
        </div>
    </div>

</form>